<form method="post" action="/routes/newMessageRouter.js" class="messageForm">
  <ul>
    <li>
      <label for="text">Message Text:</label>
      <textarea name="text" type="text"></textarea>
    </li>

    <li>
      <label for="author">From:</label>
      <input name="author" type="text" />
    </li>
  </ul>
  <button type="submit">Submit</button>
</form>
