<form method="post" action="/new" class="messageForm">
  <ul>
    <li>
      <label for="text">Message Text:</label>
      <textarea name="text" type="text"></textarea>
    </li>

    <li>
      <label for="user">From:</label>
      <input name="user" type="text" />
    </li>
  </ul>
  <button type="submit">Submit</button>
</form>
