<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel="stylesheet" href="../style.css"/>
</head>
<body>
    <H1>New Message</H1>
    <%-include('components/navbar') %>
    <h2 class="subtitle"><%= subtitle %></h2>
    <%-include('components/form') %>
    <!-- This is where we want to include our form -->
</body>
</html>